#navbar {
    margin: 0 auto;
    background: var(--red);
    color: white;
}

#navbar .container {
    display: flex;
    width: var(--rel-w);
    max-width: var(--max-w);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 15px 0;
}

#navbar .logo {
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
}

#navbar button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}